<form method="POST" action="/newpost">
    <h1>Submit New Message</h1>
    <label name="user">Author Name:</label>
    <input name="user" type="text"></input>
    <div>
        <label name="text">Message:</label>
        <input name="text" type="text"></input>
    </div>
    <button type="submit">Submit</button>
</form>