<main>
    <h1>{{title}}!</h1>
    {{#each messages}}
        <p>Name: {{this.user}}</p>
        <p>Message: {{this.text}}</p>
        <p>Date: {{this.added}}</p>
        <hr>
    {{/each}}
    <form action="/newpost" method="GET">
    <button>Add Message</button>
  </form>
</main>