<main>
    <h1>Wow, {{title}}!</h1>
    {{#each messages}}
        <p>Name: {{this.user}}</p>
        <p>Message: {{this.text}}</p>
        <p>Date: {{this.added}}</p>
        <hr>
    {{/each}}
</main>